* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.Container {
    display: flex;
    flex-direction: row;

}

.Profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 20%;
    height: 88vh;
    padding: 40px; 
    margin: 10px; 
    border-radius: 8px;
    background: #b7cfc7;
}

.ContainerMain {
    
    width: 40%;
    height: 90vh;
}

.Main {
    display: flex;
    align-items: center;
    justify-content: center;    
    background: blue;
    width: 100%;
    height: 70vh;
}

.Support {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 21vh;
}

.Support input {
    max-width: 200px;
    padding: 10px 20px;
    border: none;
}

.Support input:hover {
    transform: scale(1.2);
} 

.Content {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 50vh;
}

.ContentTitle {
    display: flex;
    flex-direction: column;
}

.ContentTitle a, h2{
    text-decoration: none;
    margin-left: 10px; 
    color: #3f6658;
    font-size: 1.5em;
}



.Profile a, h2 {
    text-decoration: none;
    margin-left: 10px; 
    color: #3f6658;
    font-size: 1.5em;
}

.Profile img {
    max-width: 256px;
}


.Bootcamp {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33vh;
    justify-content: space-around;
}

.card {
        
    transition: 0.3s;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.card img {
    max-width: 202px;
    height: 202px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 16px;
    
}

.Jobs {
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}