.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #5E9984;
}

.LinkNavbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.LinkNavbar a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

.LinkNavbar a:hover {
  color: #3f6658;
  text-shadow: 2px 2px #000000;
}

.Navbar img {
    max-width: 150px;
}

.LogOut {
  width: 10%;
  margin-left: 5px;
  margin-right: 5px;
  text-align: right;
  
}

.LogOut a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

.LogOut a:hover {
  color: #3f6658;
  text-shadow: 2px 2px #000000;
}